{% extends 'cars/base.html' %}


{% block body %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMeEksoLMkdyYhL-YIwmkQc4bV7ttCvY634_3Vr_T2Kw&s" alt="logo">  
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Password Reset Email Sent
              </h1>
              <h3>We've sent you an email with instructions on how to reset your password. Please check your inbox or spam.</h3>
          </div>
      </div>
  </div>
</section>
{% endblock %}
