{% extends "cars/base.html" %}

{% block body %}
<form class="max-w-sm mx-auto" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5 ">
      <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image:</label>
      <br><span style="color:black;text-decoration: none;">Image:- {{ form.image }}</span><br><br>
    <div class="mb-5">
      <label + class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location:</label>
      Location:- {{ form.location }}
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
  
{% endblock %}